generacion-de-documentos/XSL/ejemplo-pagina-204/mensajes.xsd

<?xml version="1.0" encoding="UTF-8"?> <!--declaración XML-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> <!--Esto se pone así siempre -->
    <xs:element name="mensajes"><!--Elemento raíz -->
        <xs:complexType><!--de tipo complejo porque se compone de otros elementos -->
            <xs:sequence><!--concretamente de la secuencia de elementos: de, para mensaje -->
                <xs:element name="de" type="xs:string"/> <!--Cada elemento con su nombre y su tipo -->
                <xs:element name="para" type="xs:string"/>
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>